{% extends "services/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="login-container">
        <h2>Login</h2>

        {% if form.errors %}
            <p class="error">Invalid email or password</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>

        <div class="login-links">
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            <p>Want to buy soemthing ? Login <a href="{% url 'login' %}">Here</a></p>
        </div>
    </div>
{% endblock %}
